@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-web/style.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/playwrite-mx/100.css");
@import url("https://cdn.jsdelivr.net/npm/@chinese-fonts/sft/dist/%E9%9A%8F%E5%B3%B0%E4%BD%93/results.css");
@import "tailwindcss";

/* spectral-latin-400-normal */
@font-face {
	font-family: "Spectral";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url("https://cdn.jsdelivr.net/fontsource/fonts/spectral@latest/latin-400-normal.woff2") format("woff2"),
		url("https://cdn.jsdelivr.net/fontsource/fonts/spectral@latest/latin-400-normal.woff") format("woff");
	unicode-range:
		U+0000-00FF,
		U+0131,
		U+0152-0153,
		U+02BB-02BC,
		U+02C6,
		U+02DA,
		U+02DC,
		U+0304,
		U+0308,
		U+0329,
		U+2000-206F,
		U+20AC,
		U+2122,
		U+2191,
		U+2193,
		U+2212,
		U+2215,
		U+FEFF,
		U+FFFD;
}

/* noto-sans-mono-latin-400-normal */
@font-face {
	font-family: "Noto Sans Mono";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url("https://cdn.jsdelivr.net/fontsource/fonts/noto-sans-mono@latest/latin-400-normal.woff2") format("woff2"),
		url("https://cdn.jsdelivr.net/fontsource/fonts/noto-sans-mono@latest/latin-400-normal.woff") format("woff");
}

@plugin "@iconify/tailwind4" {
	prefixes: lucide, simple-icons, fa6-brands, svg-spinners;
}

/*
  Z-index scale:
  < 0: Below
  0-9: Base
  10-99: Elevated
  100-999: Component
  1000-9999: Overlay
  10000-99999: Frame
*/

:root,
[data-theme="light"] {
	--font-spectral: "Spectral", Georgia, "Times New Roman", serif;
	--font-lxgw-wenkai-screen-web: "LXGW WenKai Screen", "LXGW WenKai", "Kaiti SC", STKaiti, "KaiTi", serif;
	--font-cjk: var(--font-lxgw-wenkai-screen-web);
	--font-playwrite-mx: "Playwrite MX", "Apple Chancery", "Segoe Script", cursive;
	--font-noto-sans-mono: "Noto Sans Mono", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--font-the-peak-font-plus: "The Peak Font Plus", "The Peak Font 隨峰體", "The Peak Font 随峰体", Georgia, STSong, serif;

	--primary-color: #2a2a28;
	--secondary-color: #50504d;
	--remark-color: #757575;
	--weak-color: #9f9f9c;
	--background-color: #fffffd;
	--block-color: #eeeeee;
	--shadow-color: #cdcdcc;
	--selection-color: #adadacc3;

	--swup-fade-theme-duration: 0.15s;

	.astro-code,
	.astro-code span {
		background-color: var(--block-color) !important;
	}
}

[data-theme="dark"] {
	--primary-color: #dddddb;
	--secondary-color: #aaaaa8;
	--remark-color: #a5a5a5;
	--weak-color: #5d5d5a;
	--background-color: #0e0e0c;
	--block-color: #1e1e1e;
	--shadow-color: #323231;
	--selection-color: #adadacc3;

	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
	}
}

/* Language-specific fonts */
:lang(zh-cn) {
	--font-cjk: var(--font-lxgw-wenkai-screen-web);
}

@layer base {
	::selection {
		background-color: var(--selection-color);
	}

	::-webkit-scrollbar {
		background-color: transparent;
		width: 5px;
		height: 5px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: var(--primary-color);
	}

	*:focus-visible {
		outline: 0.125rem solid var(--shadow-color);
		outline-offset: 0.25rem;
	}

	@supports not selector(::-webkit-scrollbar) {
		:root {
			scrollbar-width: thin;
			scrollbar-color: var(--primary-color) transparent;
		}
	}

	html {
		scroll-behavior: smooth;
		overflow-x: clip;
		-webkit-tap-highlight-color: transparent;
	}

	body {
		font-size: 1.0625rem;
		font-family: var(--font-serif);
		color: var(--primary-color);
		background-color: var(--background-color);
		overflow-x: clip;
		user-select: none;
	}

	@media screen and (max-width: 640px) {
		body {
			font-size: 1rem;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
	}

	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 1.75rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.25rem;
	}

	h5 {
		font-size: 1.125rem;
	}

	h6 {
		font-size: 1rem;
	}

	a {
		text-decoration: none;
		color: inherit;
		-webkit-user-drag: none;
	}

	button {
		display: flex;
		border: none;
		color: inherit;
		font-size: inherit;
		cursor: pointer;
		background: transparent;
	}

	button[disabled] {
		color: var(--weak-color);
		cursor: not-allowed;
	}

	input,
	textarea {
		color: var(--primary-color);

		&:focus {
			outline: none;
		}
	}

	textarea {
		line-height: 1.5;
	}

	img {
		max-width: 100%;
		height: auto;
		-webkit-user-drag: none;
	}

	svg {
		fill: currentColor;
	}

	hr {
		border: none;
	}
}

input[type="checkbox"].switch {
	position: relative;
	appearance: none;
	cursor: pointer;
	margin: 0px 5px;
	width: 1.8rem;
	height: 0.9rem;
	color: inherit;
	display: inline-flex;
	align-items: center;

	&::before {
		position: absolute;
		content: "";
		box-sizing: border-box;
		inset-inline-start: 0;
		width: 0.9rem;
		height: 0.9rem;
		border: 2px solid currentColor;
		border-radius: 50%;
		background-color: var(--background-color);
		z-index: 1;
		transition:
			inset-inline-start 0.15s ease-in,
			border-width 0.15s ease-in,
			background-color 0.15s ease-in;
	}

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		border-top: 2px solid currentColor;
	}

	&:checked::before {
		inset-inline-start: 0.9rem;
		border-width: 0.45rem;
		background-color: currentColor;
	}
}

.swup-progress-bar {
	--direction: to right;

	height: 0.15rem;
	background: linear-gradient(var(--direction), var(--block-color), var(--secondary-color));

	&:is(html[dir="rtl"] *) {
		--direction: to left;
		transform-origin: right center;
	}
}

.medium-zoom-overlay {
	z-index: 1000;
}

.medium-zoom-image--opened {
	z-index: 1000;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}

::view-transition-old(root) {
	z-index: 10000;
}

::view-transition-new(root) {
	z-index: 10001;
}

[data-theme="dark"]::view-transition-old(root) {
	z-index: 10001;
}

[data-theme="dark"]::view-transition-new(root) {
	z-index: 10000;
}

@theme {
	--color-primary: var(--primary-color);
	--color-secondary: var(--secondary-color);
	--color-remark: var(--remark-color);
	--color-weak: var(--weak-color);
	--color-background: var(--background-color);
	--color-block: var(--block-color);
	--color-shadow: var(--shadow-color);
	--color-selection: var(--selection-color);

	--font-serif: var(--font-spectral), var(--font-cjk), serif;
	--font-mono: var(--font-noto-sans-mono);
	--font-cursive: var(--font-playwrite-mx), var(--font-the-peak-font-plus);

	@keyframes shaky {
		0% {
			transform: translate(0, 0) rotate(0deg);
		}
		10% {
			transform: translate(-1px, -2px) rotate(-1deg);
		}
		20% {
			transform: translate(-3px, 1px) rotate(1deg);
		}
		30% {
			transform: translate(2px, -1px) rotate(0deg);
		}
		40% {
			transform: translate(1px, 2px) rotate(1deg);
		}
		50% {
			transform: translate(-1px, -1px) rotate(-1deg);
		}
		60% {
			transform: translate(-3px, 1px) rotate(0deg);
		}
		70% {
			transform: translate(2px, 1px) rotate(-1deg);
		}
		80% {
			transform: translate(-1px, -2px) rotate(1deg);
		}
		90% {
			transform: translate(2px, 2px) rotate(0deg);
		}
		100% {
			transform: translate(0, 0) rotate(-1deg);
		}
	}

	--animate-shaky: shaky 0.6s infinite;
}

@media (prefers-reduced-motion: reduce) {
	:root {
		--animate-shaky: none;
	}
}

@layer components {
	.link {
		@apply underline decoration-transparent decoration-[0.05em] underline-offset-[0.15em] transition-[text-decoration-color] hover:decoration-current;
	}

	.input {
		@apply border-b-2 border-b-primary py-0.5 bg-transparent;
	}

	.form-button {
		@apply m-auto rounded py-1 px-2 text-background bg-secondary;
	}

	.pop {
		@apply opacity-0 invisible z-2000 transition-[opacity,visibility] group-hover/pop:opacity-100 group-hover/pop:visible;
	}
}

@utility clip-path-hidden {
	clip-path: inset(0 0 0 100%);

	@variant ltr {
		clip-path: inset(0 100% 0 0);
	}
}

@utility clip-path-visible {
	clip-path: inset(0 0 0 0);

	@variant ltr {
		clip-path: inset(0 0 0 0);
	}
}
