@font-face {
    font-family: LXGW;
    src: url('/fonts/LXGWWenKaiScreen.ttf');
}

html {
  font-family: LXGW;
  font-size: 14pt;
}

/* Search UI settings */
#search-results {
  margin-top: 0.01rem;
}