<section id="comments">
        <div class="giscus-glass">
  <script src="https://giscus.app/client.js"
          data-repo="HollowDobt/blog-site"
          data-repo-id="R_kgDOPKq1Ww"
          data-category="General"
          data-category-id="DIC_kwDOPKq1W84CuUvj"
          data-mapping="title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="1"
          data-input-position="top"
          data-theme="https://docs.hollowlib.top/_stylesheets/comments.css"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
                </div>
</section>  
