<section id="comments">
  <script src="https://giscus.app/client.js"
          data-repo="HollowDobt/blog-site"
          data-repo-id="R_kgDOPKq1Ww"
          data-category="General"
          data-category-id="DIC_kwDOPKq1W84CuUvj"
          data-mapping="title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="1"
          data-input-position="top"
          data-theme="https://docs.hollowlib.top/_stylesheets/comments.css"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</section>  
  <!-- <script>
    var giscus = document.querySelector("script[src*=giscus]");
    var palette = __md_get("__palette");
    if (palette && typeof palette.color === "object") {
      var theme = palette.color.scheme === "slate" ? "transparent_dark" : "light";
      giscus.setAttribute("data-theme", theme);
    }

    document.addEventListener("DOMContentLoaded", function() {
      var ref = document.querySelector("[data-md-component=palette]");
      ref.addEventListener("change", function() {
        var palette = __md_get("__palette");
        if (palette && typeof palette.color === "object") {
          var theme = palette.color.scheme === "slate" ? "transparent_dark" : "light";
          var frame = document.querySelector(".giscus-frame");
          frame.contentWindow.postMessage(
            { giscus: { setConfig: { theme } } },
            "https://giscus.app"
          );
        }
      });
    });
  </script> -->
