// Title Font, set it to font family you want.
$font-family-headings = "LXGW WenKai"

// Set it to font family you want.
$font-family-base = "LXGW WenKai"

// Code Font.
$code-font-family = "Code New Roman", monospace

// Font size of articles.
$font-size-base = 18px

// Font size of table and code.
$table-font-size = 14px

$content-desktop         = 80%
$content-desktop-large   = 80%
$content-desktop-largest = 80%

/* source/_data/variables.styl */

/* 背景 */
$body-bg-color          = #17181C
$body-bg-color-dark     = #17181C
$content-bg-color       = #17181C
$content-bg-color-dark  = #17181C

/* 文字 & 链接 */
$text-color                  = #ffffff
$text-color-dark             = #ffffff
$link-color                  = #89898E
$link-color-dark             = #89898E
$link-hover-color            = #ffffff
$link-hover-color-dark       = #ffffff
$sidebar-highlight           = #5E8BDE
$sidebar-highlight-dark      = #5E8BDE
sidebar-nav-hover-color      = #5E8BDE
sidebar-nav-hover-color-dark = #5E8BDE


/* source/_data/variables.styl */
$card-radius   = .75rem                     // 卡片圆角
$card-shadow   = 0 6px 18px rgba(0,0,0,.45) // 主要阴影
$card-shadow-l = 0 2px 8px  rgba(0,0,0,.25) // 浅阴影（首页摘要列表）

