---
let { author, copyright } = Astro.props;
const authorMailto = author.email ? `mailto://${author.email}` : "mailto://i@hollowdobt.com";
---

<footer class="mt-8 mb-5 sm:mb-3 text-sm">
	<p class="flex flex-wrap items-center justify-center gap-x-1.5 gap-y-0.5 text-center">
		<span>Copyright</span>
		<span>&copy;</span>
		<span>{copyright.year}</span>
		<a href={authorMailto} class="link">{author.name}</a>
		<span>|</span>
		<span>Theme</span>
		<a href="https://github.com/tuyuritio/astro-theme-thought-lite" target="_blank" rel="noopener noreferrer" class="link">@thought-lite</a>
	</p>
</footer>
